@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply bg-white dark:bg-black text-black dark:text-white;
}

a:hover{
  @apply underline underline-offset-2 cursor-pointer;
}

h1,h2,h3,p {
  @apply text-black dark:text-white;
  line-height: normal;
  font-style: normal;
}

.font-big-title {
  font-family: var(--font-roboto);
  font-size: 5rem;
  font-weight: 900;
}

.font-primary-title-roboto {
  font-family: var(--font-roboto);
  font-size: 2.5rem;
  font-weight: 900;
}

.font-primary-title-bold {
  font-family: var(--font-segoe-ui);
  font-size: 1.5rem;
  font-weight: 700;
}

.font-primary-text {
  font-family: var(--font-segoe-ui);
  font-size: 1.2rem;
  font-weight: 600;
}

p, .font-secondary-text {
  font-family: var(--font-segoe-ui);
  font-size: 1rem;
  font-weight: 400;
}

.font-gray-text {
  opacity: .6;
}

.btn-primary {
  @apply bg-primary-blue font-primary-title-bold rounded-full;
  transition: transform .8s;
}

.btn-primary:hover {
  opacity: .8;
}

.btn-primary:active {
  transform: scale(.8);
}

.btn-secondary {
  @apply btn-primary;
  background-color: black;
}

.btn-edit {
  @apply btn-primary dark:bg-black text-black dark:text-white outline outline-2 outline-black dark:outline-white;
  background-color: white;
}